body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}


.fundocadastro {
    position: relative;
    padding-top: 30px;
    padding-bottom: 80px;
    background-color: rgb(99, 98, 98);
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fundocadastro:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('https://media.pitchfork.com/photos/60c8b64906280ce20ecfbef5/16:9/w_1280,c_limit/Maroon%205:%20Jordi.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
.cardcadastro{
    background-color: #000000;
    width: 49.68%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    padding: 30px 0;
    position: relative;
    z-index: 2;
    
}
.cardcadastro form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardcadastro h2{
    font-family: sans-serif;
}
.cardcadastro label {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 5px;
}
.boxcadastro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.cardcadastro input {
    margin-bottom: 5px;
    width: 300px;
    height: 48px;
    background-color: rgb(219, 219, 219);
    border-radius: 5px;
    box-shadow: 0 0 0 0;
    outline: 0;
    border: none;
    font: 500;
    font-size: 20px;
    text-align: center;
}

.cardcadastro button {
    width: 90px;
    align-self: center;
    height: 40px;
    border-radius: 5px;
    background-color: #848789;
    color: #E5E5E5;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    padding-bottom: 10px;
}
.sub{
    color: whitesmoke;
    font-weight: 10;
    font-size: 16px;
}

.imagemcadastro{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: #323030;
}
.imagemcadastro img{
    margin-top: -20px;
    width:55%;
    border-radius: 20px;
}
.opcoes{
    display: flex;
    flex-direction: row;
    background-color: #000000;
    z-index: 2;
    width: 49.68%;
}
.opcoes button{
    width: 50%;
    height: 60px;
    border-radius:0 ;
    margin: 0;
    border: 0;
}
#opcaocadastro{
    color: #100f0f;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
}
#opcaologin{
    color: #100f0f;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
}
